@import "//at.alicdn.com/t/font_2621317_z40suktet1.css";

@font-face {
    font-family:'arzhu';
    src:url('https://cdn.jsdelivr.net/gh/dingdang0/mycdn@1.0/font.ttf'); /* 修改成你的字体 */
    font-display:swap
}
h1#site-title {
    font-family:arzhu!important;
    font-size: 60px!important;
    
}
span#subtitle {
    font-family:arzhu!important
}
.author-info__description {
    font-family:arzhu!important
}
a#site-name {
    font-family:arzhu!important
}
#post,#aside-content .card-widget,.recent-post-item,#page,#archive,#tag,#category {
  background: rgba(255,255,255,0.8)!important;
}

.icon-git:before {
    
    color: blue;
    /* color: rgba(36, 243, 198, 0.452); */
    font-size: 24px;
  }
  .icon-gitee:before {
    /* content: "\e602"; */
    /* 修改颜色 */
    color: rgb(255, 0, 0);
    /* 修改大小 */
    font-size: 24px;
  }
  .icon-csdn:before {
    /* content: "\e602"; */
    /* 修改颜色 */
    color: rgb(255, 0, 64);
    /* 修改大小 */
    font-size: 24px;
  }
  .icon-cnblogs:before {
    /* content: "\e602"; */
    /* 修改颜色 */
    color: rgb(48, 48, 58);
    /* 修改大小 */
    font-size: 24px;
  }
  .icon-QQyouxiang1:before {
   
    color: rgb(102, 255, 0);
   
    font-size: 24px;
  }
  .icon-wangyi:before {
    /* content: "\e602"; */
    /* 修改颜色 */
    color: rgb(255, 81, 0);
    /* 修改大小 */
    font-size: 24px;
  }
.icon-youdaoyunbiji:before{
    
    color: rgb(0, 119, 255);
    
    font-size: 24px;
}